{% extends "base.html" %}

{% block container %}

<table border="1">
{% for articolo in articles %}
    <tr>
        <td>{{ articolo.author }}</td>
        <td> <a href="{% url 'text_comments' articolo.id %}"> {{ articolo.title }}</a></td>
        <td>{{ articolo.pub_date }}</td>

    </tr>
{% endfor %}
</table>
{% endblock %}