{% extends "base.html" %}

{% block container %}

<table border="1">
{% for tizio in authors %}
    <tr>
        <td> <a href="{% url 'articles' tizio.id %}">{{ tizio.name }}</a></td>
        <td>{{ tizio.email }}</td>
        <td><a href="{% url 'modifiche' tizio.id %}">modifica {{ tizio.name }}</a></td>
        <td><a href="{% url 'elimina' tizio.id %}">elimina {{ tizio.name }}</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}