
<HTML>
<HEAD>
   <TITLE>Pagine</TITLE>
</HEAD>

<BODY>

<h3>SIAMO NELL'ANNO</h3>
<h2>{{year}}</h2>

<h3>SIAMO NELL'MESE DI </h3>
<h2>{{month}}</h2>

<h3>ORA CORRENTE</h3>
<h2>{{hour}}</h2>


</BODY>
</HTML>