{% extends "base.html" %}

{% block container %}

<form method="post">
    {% csrf_token %}
    <h1>stai per cancellare l'autore {{autore.name}} </h1>
    <input name="conferma" type="submit" value="cancella" />
    <input name="annulla" type="submit" value="annulla" />

</form>
{% endblock %}