{% extends "base.html" %}

{% block container %}


{{ articolo.content }}

{% for commento in text_comments %}

{{ commento.comment }}

<table border="1">
    <tr>
        <td>{{ commento.name }}</td>
        <td>{{ commento.email }}</td>
    </tr>
</table>

{% endfor %}


{% endblock %}