<HTML>
<HEAD>
   {% if titolo %}
    <TITLE>{{titolo}}</TITLE>
    {% else %}
    <TITLE>Base</TITLE>
    {% endif %}

    <!-- QUESTO E' IL TEMPLATE DI BASE PER LA PAGINA DI AUTORI ECC -->

    <!-- css -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</HEAD>

<BODY>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"
     href="{% url 'index' %}">Homepage</a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link"
           href="{% url 'authors' %}">Tutti Autori</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
           href="{% url 'articles' %}">Tutti Articoli</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"> Autori per nome </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for tizio in authors %}
                <a class="dropdown-item" href="{% url 'articles' tizio.id %}">{{ tizio.name }}</a>
          {% endfor %}
        </div>

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"> Articoli per autore </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for articolo in articles %}
                <a class="dropdown-item" href="{% url 'text_comments' articolo.id %}">{{ articolo.title }}</a>
          {% endfor %}
        </div>

      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"
             type="search"
             placeholder="Search"
             aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"
              type="submit">Search</button>
    </form>

  </div>

</nav>

{% block container %}
{% endblock %}
</BODY>
</HTML>