
    <!-- nome grande, brand->titolo -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"
     href="{% url 'authors' %}">Sito Autori</a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
            <!-- 1 link -->
        <li class="nav-item active">
        <a class="nav-link"
           href="#">Home</a>
        </li>
            <!-- 2 link -->
      <li class="nav-item">
        <a class="nav-link"
           href="{% url 'articles' %}">Tutti Articoli</a>
      </li>
            <!-- menu a tendina -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Tendina </a>
               <!-- contenuto menù a tendina -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>     <!-- 1 -->
          <a class="dropdown-item" href="#">Another action</a>      <!-- 2 -->
          <div class="dropdown-divider"></div>     <!-- divisore grafico menù a tendina -->
          <a class="dropdown-item" href="#">Something else here</a>     <!-- 3 -->
        </div>
      </li>
            <!-- link disabilitato -->
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>

    </ul>
            <!-- form di ricerca -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"
             type="search"
             placeholder="Search"
             aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"
              type="submit">Search</button>
    </form>

  </div>

</nav>