{% extends "basehotel.html" %}

{% block container %}

<table border="1">
{% for camera in camere %}
    <tr>

        <td>{{ camera.id }}</td>
        <td>{{ camera.piano }}</td>
        <td>{{ camera.tipo }}</td>
        <td>{{ camera.aggletti }}</td>
        <td>{{ camera.optional }}</td>

    </tr>
{% endfor %}
</table>

{% endblock %}