{% extends "basehotel.html" %}

{% block container %}

<table border="1">
{% for cliente in clienti %}
    <tr>

        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.telefono }}</td>

    </tr>
{% endfor %}
</table>

{% endblock %}